{% block content %}
<div id="right-block" class="col-md-8">
    {% if content == 'account' %}
        {{ include('account/settings.html.twig') }}
    {% else %}
        {{ include('account/user_library.html.twig', {'reviews' : user.review , 'guitars' : user.guitars}) }}
    {% endif %}
</div>
{% endblock %}