{% block content %}
<div class="col-sm-9 col-lg-10">
    <ul>
    {% for guitar in guitars %}
        <li>{{ include('guitar/guitar_card.html.twig', { 'guitar': guitar }) }}</li>
    {% endfor %}
    </ul>
</div>
<script src="js/rating.js"></script>
{% endblock %}