{{ include('main/header.html.twig') }}
<div class="row">
    {{ include('account/sidebar.html.twig') }}
    {{ include('account/content.html.twig', { 'user': user }) }}
</div>
{{ include('main/footer.html.twig') }}