{% block sidebar %}
<div class="col-sm-3 col-lg-2">
    <nav class="navbar navbar-default navbar-fixed-side">
        <ul class="nav">
            <li><a href="{{ path('library') }}">Guitars & Reviews</a></li>
            <li><a href="{{ path('account') }}">Settings</a></li>
        </ul>
    </nav>
</div>
{% endblock %}