{# app/Resources/views/base.html.twig #}
{{ include('main/header.html.twig') }}
<div class="row">
{{ include('main/sidebar.html.twig') }}
{{ include('main/content.html.twig') }}
</div>
{{ include('main/footer.html.twig') }}