{{ include('main/header.html.twig') }}
<div class="row">
{{ include('main/sidebar.html.twig') }}
{{ include('main/content.html.twig', { 'guitars': guitar }) }}
</div>
{{ include('main/footer.html.twig') }}