{# app/Resources/views/main/sidebar.html.twig #}
{% block sidebar %}
<div class="col-sm-3 col-lg-2">
    <nav class="navbar navbar-default navbar-fixed-side">
        <li><a href="">Top Guitars</a></li>
        <li><a href="">Catalog</a></li>
    </nav>
</div>
{% endblock %}