{# app/Resources/views/auth/register.html.twig #}
<html>
  <body>
    <h1>Create Account</h1><br>
    {% if incorrect is defined %}
        <label>Email aleady used!</label><br>
    {% endif %}
    <form method="POST" action="">
        <label>Your name or nickname</label><br>
        <input type="text" name="nickname"><br>
        <label>Email</label><br>
        <input type="text" name="email"><br>
        <label>Password</label><br>
        <input type="text" name="password"><br>
        <input type="submit" value="Create account"><br>
    </form>
    <label>Already have an account?</label><br>
    <a href="http://{{ signin_link }}" >Sign in</a>
  </body>
</html>