<div class="card">
    <div class="card-header">
        <img class="img-circle" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="img-fluid" alt="">
        <h4>{{ review.user.username }}</h4>
    </div>
    <div class="card-body">
        <hr>
        <p class="card-text">
            {{ review.text }}
        </p>
    </div>
</div>